# Switch Initialization

NET "Ain(3)" LOC = "R17"; # assign MSB of A to switch R17
NET "Ain(2)" LOC = "N17";
NET "Ain(1)" LOC = "L13";
NET "Ain(0)" LOC = "L14";
NET "Bin(3)" LOC = "K17"; # assign MSB of B to switch K17
NET "Bin(2)" LOC = "K18";
NET "Bin(1)" LOC = "H18";
NET "Bin(0)" LOC = "G18";

# LED Output Initialization

NET "Sum(3)" LOC = "K14"; # assign MSB os sum to LED K14
NET "Sum(2)" LOC = "K15";
NET "Sum(1)" LOC = "J15";
NET "Sum(0)" LOC = "J14";